*{
    font-family: sans-serif;
}
body{
    background: rgb(231,61,44);
    background: linear-gradient(180deg, rgba(231,61,44,1) 35%, rgba(128,0,0,1) 100%);
}
.first{
    /*        background: rgb(231,61,44);
            background: linear-gradient(180deg, rgba(231,61,44,1) 35%, rgba(128,0,0,1) 100%);*/
    text-align: center;
    color: #fff;
    height: 390px;
}
/*.logo{
    width: 800px;
    height: 300px;
}*/
.second{
    margin-top: -130px;
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 35%, rgba(204,204,204,1) 100%);  
    max-width: 95%;
    border-radius: 12px;
    padding: 0px;
}
.tercer{
    background: #fff;
    width: 95%;
    border-radius: 12px;

}
.degradadoGris{
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(226,226,226,1) 87%);
}
.total1{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.internoTotal1{
    background: #e73d2c;
    height: 10px;
}
.fondokpc{
    background: #e73d2c;

}
/*div[class|="col"]{
    border: 1px solid #ffc107;
}*/
.interior1{
    float: left;
    /*        background: #A2FCFE;*/

}

.interior2{
    float: left;
}
.textoPrecio{
    color: #6D6D6B;
}
.container-first{
    max-width: 100%;

}
.cuadroCel{
    border-radius: 5px;
    font-family: sans-serif;
    color: #fff;
    text-align: left;
    /*    background: rgb(30,156,215);
        background: linear-gradient(111deg, rgba(30,156,215,1) 0%, rgba(0,112,151,1) 100%);*/
    background: linear-gradient(270deg, #9197ae, #30bced);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    -o-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}
i.fa-exclamation{
    color: #ff7b11;
}

img.zoom{

    /* Aumentamos el ancho y la altura durante 1 segundo */
    transition: width 1s, height 1s, transform 0.5s;
    -moz-transition: width 1s, height 1s, -moz-transform 0.5s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 0.5s;
    -o-transition: width 1s, height 1s,-o-transform 0.5s;
}
.zoom:hover{
    position: relative;
    z-index: 10 !important;
    /* tranformamos  su tamaño al pasar el mouse por encima con scale(2.5). */
    transform : scale(3.5);
    -moz-transform : scale(3.5);      /* Firefox */
    -webkit-transform : scale(3.5);   /* Chrome - Safari */
    -o-transform : scale(3.5);        /* Opera */
}
.btn-env{
    border-radius: 10px;
    font-family: sans-serif;
    color: #fff;
    text-align: left;
    font-weight: bold;
    border: none;
    background: #ff5e4e;
    border: 2px solid #ff0006;
    /*background: linear-gradient(111deg, rgba(231,61,44,1) 0%, rgba(225,31,31,1) 100%);*/
}
.btn-env:hover{
    color: rgb(231,61,44) !important;
    font-weight: bold;
    background: #fff;
    border: 2px solid rgb(231,61,44);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
.cuadroVer{
    border-radius: 5px;
    font-family: sans-serif;
    color: #fff;
    text-align: left;
    background: rgb(75,208,124);
    background: linear-gradient(111deg, rgba(75,208,124,1) 0%, rgba(24,185,84,1) 100%);

}
.cuadroRed{
    border-radius: 5px;
    font-family: sans-serif;
    color: #fff;
    text-align: left;
    background: rgb(231,61,44);
    background: linear-gradient(111deg, rgba(231,61,44,1) 0%, rgba(225,31,31,1) 100%);

}
/*.texto1 {
    font-size: 50px;
}
.texto2 {
    font-size: 60px;
}*/

/*// If the screen size is 600px wide or less, set the font-size of <div> to 30px*/ 
@media screen and (max-width: 450px) {
    .logo{

    }
    .first{
        height: 300px;
    }
    .second{
        margin-top: -120px;
    }


}

@media screen and (max-width: 400px) {
    .tamaño400{
        color: #6D6D6B;
        font-size: 18px;
    }
    .first{
        height: 220px;
    }
    .second{
        margin-top: -80px;
    }
}

.card-gris {
    background-color: #f8f9fa; /* gris claro tipo Bootstrap */
}
